<nav class="
  relative
  |  /54w-full
  flex flex-wrap+-

  items-center
  justify-between
  py-4
  bg-blue-700
  text-white
  shadow-lg
  navbar navbar-expand-lg navbar-light
  ">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <span>TODO APP</span>
  </div>
</nav>
<div class="container mx-auto px-4 sm:px-8 max-w-3xl">

  <div class="mt-5 flex w-full space-x-2"><input [(ngModel)]="description" id="name" type="text"
      placeholder="Descripcion"
      class="shadow-lg pl-3 block w-full rounded border-gray-700 text-sm transition focus:border-blue-600 focus:ring-blue-600 hover:border-blue-400 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:opacity-75">
    <button type="button" (click)="saveTodo()"
      class="shadow-lg inline-flex w-auto shrink-0 cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded border border-gray-200 bg-blue-700 px-3 py-2 text-sm font-medium text-gray-100 transition hover:border-gray-300 hover:bg-blue-500 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-300">
      ADICIONAR</button>
  </div>
  <div class="py-8">
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th scope="col"
                class="px-5 py-3 bg-blue-400  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                Id
              </th>
              <th scope="col"
                class="px-5 py-3 bg-blue-400  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                Descripcion
              </th>
              <th scope="col"
                class="px-5 py-3 bg-blue-400  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                Fecha de Creacion
              </th>
              <th scope="col"
                class="px-5 py-3 bg-blue-400  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-normal">
                Estado
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todos">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{todo.id}}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{todo.description}}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">
                  {{todo.createdAt}}
                </p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <span *ngIf="!todo.status"
                  class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                  <span aria-hidden="true" class="absolute inset-0 bg-green-200 opacity-50 rounded-full">
                  </span>
                  <span class="relative">
                    Completa
                  </span>
                </span>
                <span *ngIf="todo.status"
                  class="relative inline-block px-3 py-1 font-semibold text-orange-400 leading-tight">
                  <span aria-hidden="true" class="absolute inset-0 bg-orange-200 opacity-50 rounded-full">
                  </span>
                  <span class="relative">
                    Activa
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
